
body {
    background-color: gray;
    background-image: url("/Images/spotlight\ on\ mic.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1024px;
    width: 1024px;
    padding-right: 100px;    
    padding-left: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: red;
    text-decoration: underline;
}
header {
    background-color: black;
    background-image: url("/Images/Painted\ Logo\ of\ World\ Class\ Comics\ Publishing.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;    
}
.links.for.home {
    background-color: rgba(0, 0, 0, 0.849);
    display: inline-block;
    margin: 1px;    
    
}
.main-title-text h2.main-title {
    background: rgba(255, 0, 0, 0.548);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.first-header {
    background-color: rgba(255, 255, 0, 0.603);
    display: inline;
    border-radius: 10px;
    font-size: 40px;
    margin: 10px;
    position: relative;
}
p {
    background-color: rgba(245, 245, 245, 0.377);
    display: inline-block;
}
.footer-banner {
    background-color: rgba(255, 255, 0, 0.712);
    display: inline-block;
}
.copyright {
    background-color: rgba(245, 245, 245, 0.541);
    display: inline-block;
}
.Fake-Mock-Ad {
    background-color: red;
    background-image: url("../Images/mock\ ad.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    width:300px;
    display: inline-block;
    height: 170px;
    position: relative;
    text-indent: -999999999px;
}
.First-Header {
        background-color: whitesmoke;
}
.Recent-Header {
    background-color: whitesmoke;
}
/* This is where I might put some Google Ads or Ads from a sponsor.*/

