body {
    background: gray;
    background-image: url("Images/kid reading book.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    width: 1024px;
    padding-right: 100px;    
    padding-left: 100px;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: red;
    text-decoration: underline;
}
header {
    background-color: black;
    background-image: url("../Images/Painted\ Logo\ of\ World\ Class\ Comics\ Publishing.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;    
}
.links.for.home {
    background-color: rgba(0, 0, 0, 0.849);
    display: inline-block;
    margin: 1px;      
}
.section1 .second-header {
    background: rgba(255, 0, 0, 0.808);
    color: whitesmoke;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.description, .h2 {
    background-color: rgba(0, 0, 0, 0.849);
    color: whitesmoke;
    display: block;
}
.first-header {
    background-color: rgba(255, 255, 0, 0.603);
    display: inline;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
