body {
    background: gray;
    background-image: url("Images/holding up trophy.jpg");
    background-size: 100%;
    background: repeat-y;
    width: 1024px;
    padding-right: 100px;    
    padding-left: 100px;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: red;
    text-decoration: underline;
}
header {
    background-color: black;
    background-image: url("../Images/Painted\ Logo\ of\ World\ Class\ Comics\ Publishing.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;    
}
.links.for.home {
    background-color: rgba(0, 0, 0, 0.849);
    display: inline-block;
    margin: 1px;      
}
.main-title-text h2.main-title {
    background: red;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.first-header {
    background-color: rgba(255, 255, 0, 0.603);
    display: inline;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
.Sons-of-Roark-Ad {
    background-color: black;
    background-image: url("Images/Book Cover Sons of Roark.png");
    background-size: 100px;
    text-indent: -9999999999999;
    text-align: center;
    padding-top: 650px;
    padding-bottom: 650px;
    height: 650px;
    width: 650px; 
}
