body {
    background-color: gray;
    background-image: url("/Images/spotlight\ on\ mic.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1024px;
    width: 1024px;
    padding-right: 100px;    
    padding-left: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: red;
    text-decoration: underline;
}
header {
    background-color: black;
    background-image: url("/Images/Painted\ Logo\ of\ World\ Class\ Comics\ Publishing.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;    
}
.links.for.home {
    background-color: rgba(0, 0, 0, 0.849);
    display: inline-block;
    margin: 1px;    
    
}
.main-title-text h2.main-title {
    background: rgba(255, 0, 0, 0.548);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.first-header {
    background-color: rgba(255, 255, 0, 0.603);
    display: inline;
    border-radius: 10px;
    font-size: 40px;
    margin: 10px;
    position: relative;
}
p {
    background-color: rgba(245, 245, 245, 0.377);
    display: inline-block;
}
.footer-banner {
    background-color: rgba(255, 255, 0, 0.712);
    display: inline-block;
}
.copyright {
    background-color: rgba(245, 245, 245, 0.541);
    display: inline-block;
}
.Fake-Mock-Ad {
    background-color: red;
    background-image: url("../Images/mock\ ad.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    width:300px;
    display: inline-block;
    height: 170px;
    position: relative;
    text-indent: -999999999px;
}
.First-Article {
    background-color: rgba(245, 245, 245, 0.514);
}
.Recent-Header {
    background-color: rgba(245, 245, 245, 0.514);
}
.second-recent-article {
    background-color: rgba(245, 245, 245, 0.514);
}
/* This is where I might put some Google Ads or Ads from a sponsor.*/

/* Button Code Below */
body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 5px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

