body {
    background: gray;
    background-image: url("/Images/man looking up.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    height: 1024;
    width: 1024px;
    padding-right: 100px;    
    padding-left: 100px;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: red;
    text-decoration: underline;
}
header {
    background-color: rgb(0, 0, 0);
    background-image: url("../Images/Painted\ Logo\ of\ World\ Class\ Comics\ Publishing.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;    
}
.links.for.home {
    background-color: rgba(0, 0, 0, 0.849);
    display: inline-block;
    margin: 1px;      
}
.main-title-text .main-title {
    background: rgba(255, 0, 0, 0.658);
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.description {
    background-color: rgba(0, 0, 0, 0.671);
    color: whitesmoke;
}
.first-header {
    background-color: rgba(255, 255, 0, 0.603);
    display: inline;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
.footer-banner {
    background-color: rgba(10, 248, 10, 0.76);
    display: inline-block;
}
.home .book-contest-bar {
    background-color: rgba(255, 0, 0, 0.856);
    display: inline-block;
    width: 1024px;
}
.float-img {
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 2px; 
}

