body {
    background: rgb(241, 245, 241);
    background-image: url("../Images/Bookshelf\ imag.jfif");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
    height: 1024px;
    width: 1024px;
    padding-right: 100px;    
    padding-left: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main-title {
    background: rgba(255, 0, 0, 0.568);
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.first-header {
    background-color: rgba(0, 0, 0, 0.815);
    color: blue;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: red;
    text-decoration: underline;
}
header {
    background-color: rgba(0, 0, 0, 0.918);
    background-image: url("../Images/Painted\ Logo\ of\ World\ Class\ Comics\ Publishing.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    text-align: center;    ;    
}
.links.for.home {
    background-color: rgba(0, 0, 0, 0.719);
    display: inline-block;
    margin: 1px;      
    color: white;
}
p {
    background-color: rgba(0, 0, 0, 0.698);
    display: inline-block;
    color:white;
}
.footer-links {
    background-color: rgba(0, 0, 0, 0.575);
    display: inline-block;
    color: white;
}
.b-logo {
    background-color: rgba(0, 0, 0, 0.698);
    display: inline-block;   
    color: white;
}
.b-banner {
    background-color: rgba(0, 0, 0, 0.726);
    color: limegreen;
    display: inline-block;
    font-size: 28px; 
}
.b-banner {
    color: blue;
}
.contest-bar {
    background-color: red;
    color:yellow;
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1024px;
    text-decoration: none;
}
.float-img {
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 2px;
}
.description {
    background-color: rgba(0, 0, 0, 0.726);
    color: whitesmoke;
    font-size: 28px;
}
.main-title2, .BC, .trending, .worldccp, .webuyblack, .IC {
    background-color: rgba(0, 0, 0, 0.726);
    color: whitesmoke;
    font-size: 30px;
}
