body {
    background: gray;
    background-image: url("../Images/man\ sitting\ on\ mountain.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
    height: 1024px;
    width: 1024px;
    padding-right: 100px;    
    padding-left: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: black;
    background-image: url("../Images/Painted\ Logo\ of\ World\ Class\ Comics\ Publishing.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;    
}
h1 {
    Color: red;
    background-color: rgba(0, 0, 0, 0.712); 
    display: inline-block;
}
p {
    Color: white;
    background-color: rgba(0, 0, 0, 0.712); 
    display: inline-block;
}
